<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">My App</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class:"nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'About', home_about_path, class:"nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Current List', items_path, class:"nav-link" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="This does not work" aria-label="Search">
      <%= link_to 'Do not try', home_haha_path, class:"btn btn-outline-warning my-2 my-sm-0" %>
    </form>
  </div>
</nav>
